<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>{{ page.title }}</title>
</head>
<body>
    <section class="container-fluid">
      <div class="row">
        <div class="col-">
          {% capture my_include %}{% include apiary.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </div>
        <div class="col-xl">
          {%if page.content != "" %}
            <ul>
              <li><a href="https://github.com/joejcollins/rhapsody-angel/edit/master{{page.url | replace: '.html', '.md'}}" target="_blank">Edit</a></li>
            </ul>
          {% endif %}
          {{ content }}
        </div>
      </div>
    </section>
</body>
